video {
    width: 160px;
}
.local-video {
    transform: scale(-1, 1);
}

.live.status {
    transition-property: color;
    transition-duration: 8s;
    transition-timing-function: liner;
    color: #fff;
}
